* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    max-width: 1600px;
    width: 100%;

}

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}

.left-navbar ul,
.right-navbar ul {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.logo {
    padding: 10px;
}

.left-navbar a,
.right-navbar a {
    transition: all 0.3s ease;
}

.left-navbar a:hover,
.right-navbar a:hover {
    color: #0041D9;
}
.sec1{
    display: flex;
    flex-direction: column;

    justify-content: center;
    flex-shrink: 0;
    position:relative;
}

.sec1baner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.sec1content{
    position: absolute;
    left: 100px;
}
.sec1content h2{
    color:white;
    font-size: 3em;
    line-height: 60px;
    width: 500px;
    font-weight: 700px;
}

.sec1search{
    margin-top: 30px;
    padding:20px;
    width: 550px;
    border-radius: 12px;
    outline: none;
    border: none;
}
.sec1button{
 transform: translateX(-50px);
 padding:20px;
 border-radius:12px ;
 border:none;
 background-color: #FFF;
 cursor: pointer;
 transition: all 0.8s ease;
}
.sec1button:hover{
    background-color: #EEEEF0;
}