* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
button{
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sign .sign1{
    border:none;
    border-radius: 12px;
    width:100px ;
    height: 30px;
    background-color:#32914E ;
    color:#fff;
}
.sign .sign2{
 border:none;
 border-radius: 12px;
 width: 70px;
 height: 30px;
 background-color: #fff;
 color:black;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.row {
    max-width: 1600px;
    width: 100%;

}

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

}

.left-navbar ul,.sign{
    display: flex;
    gap: 30px;
    padding: 10px;
}

.logo {
    padding: 10px;
}

.left-navbar a,
.right-navbar a {
    transition: all 0.3s ease;
}

.left-navbar a:hover,
.right-navbar a:hover {
    color: #0041D9;
}
.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #AD7A5A;

    width: 100%;
    height: 70px;
 
}

.sec1baner img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.sec1content{
    position: absolute;
    left: 100px;
}
.sec1content h2{
    color:white;
    font-size: 3em;
    line-height: 60px;
    width: 500px;
    font-weight: 700px;
}

.sec1search{
    margin-top: 30px;
    padding:20px;
    width: 550px;
    border-radius: 12px;
    outline: none;
    border: none;
}
.sec1button{
 transform: translateX(-50px);
 padding:20px;
 border-radius:12px ;
 border:none;
 background-color: #FFF;
 cursor: pointer;
 transition: all 0.8s ease;
}
.sec1button:hover{
    background-color: #EEEEF0;
}
.option{
    display: flex;

}
.option select{
    height: 45px;
    border:none;
    outline: none;
    border-right:1px solid #AD7A5A;
    padding: 10px;
    cursor: pointer;

}
.option button{
    height: 45px;
    background-color: #fff;
    border: none;
}
.option .button2{
    background-color: #3D5AF3;
    color:#fff;
    padding: 10px;
}
.sect1price{
    padding: 10px;
    outline: none;
    border: none;
}
.mane ul{
    display: flex;
    gap:20px;
    margin-left: 120px;
    color: gray;
}
.mane li a:hover{
    text-decoration: underline;
}z
.xet{
    margin-top: 10px;
    border: 1px solid;
    height: 1;
    width: 800px;
}
.sec3card{
margin-left:-15px;
}
.sec3card img{
    object-fit: cover;
    width: 250px;
    border-radius: 12px;
    height: 160px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.sec3card2 img{
    margin-left: -30px;
    width: 250px;
    border-radius: 12px;
    height: 160px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    object-fit: cover;
} 
.sec3card2{
    margin-left: 300px;
    margin-top: -282px;
}
.sec3card3 img{
    width: 250px;
    border-radius: 12px;
    height: 160px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    object-fit: cover;  
}
.sec3card3{
    margin-left: 550px;
    margin-top: -244px;
}
.sec3card4 img{
    width: 250px;
    border-radius: 12px;
    height: 160px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;   
    object-fit: cover;
}
.sec3card4{
   
    margin-left: 840px;
    margin-top: -280px;
}
