
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
   font-family: "Roboto", serif;
}

.head,.navbar,.navbar ul{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    list-style-type: none;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
   
}
.dropdown{
    display: none;
    position: absolute;
    margin-top: -10px;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}
.dropdown-menu{
    display: flex;
    gap: 75px;
    align-items: center;
    list-style-type: none;
    height: 200px;
    padding: 0;
    margin: 0;
}
.dropdown-menu li a{
color:blue;
}
.dropdown-menu li a:hover{
    background-color:white;
    color:blue;
    text-decoration: underline;
}
li:hover .dropdown{
    display: block;
}
.Almaq a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.Almaq{
   margin-top: -20px;
}
.Almaq a:hover{
    color: #007BFF;
}
.dropdown1{
    display: none;
    position: absolute;
    margin-top: -3px;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}
.dropdown-menu1{
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropdown-menu1 li a{
    color:blue;
}
.dropdown-menu1 li a:hover{
    background-color:white;
    color:blue;
    text-decoration: underline;
}

li:hover .dropdown1{
    display: block;
}
.Icare a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.Icare{
    margin-left: -20px;
}
.Icare a:hover{
    color: #007BFF;
}
.dropdown2{
    display: none;
    position: absolute;
    margin-top: -3px;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}
.dropdown-menu2{
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropdown-menu2 li a{
    color:blue;
 
}
.dropdown-menu2 li a:hover{
    
    text-decoration: underline;
}

li:hover .dropdown2{
    display: block;
}
.Satmaq a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.Satmaq{
    margin-left: -10px;
}
.Satmaq a:hover{
    color: #007BFF;
}

.dropdown3{
    display: none;
    position: absolute;
    margin-top: -10px;
    top: 100%;
    left: 0;
    width:800px;
    height: 275px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}
.dropdown-menu3{

    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu3 li a{
    color:blue;
    
}
.dropdown-menu3 p{
margin-top: 3px;
margin-left: -20px;
}
.dropdown-menu3 li a:hover{

text-decoration: underline;
}

.dropdown-menu3 i{
    color:blue; 
}
li:hover .dropdown3{
    display: block;
}
.Kreditler a:hover{
color:#007BFF;
}
.Kreditler a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.Agent a:hover{
    color:#007BFF;
}
.Agent a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}
.Komek a:hover{
color:#007BFF;
}
.Komek a{
    text-decoration: none;
    color: black;
}
.Daxil a:hover{
    color:#007BFF;
}
.Daxil a{
  color:black;
  text-decoration: none;
}
.Img img{
  width: 100%;
  object-fit: cover;
  height: 500px;
  top:50px;
  left: -0%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.Img h1{
    top:170px;
    left: -140%;
    position:relative;
    color: white;  
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.Evtovsiyeleri h5{
    margin-top: 600px;
    margin-left: 90px;
} 
.Evtovsiyeleri p{
  margin-left: 90px;
  margin-top:20px
}
.Evtovsiyeleri button{
    margin-left:120px;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    border-radius: 12px;
    color: #007BFF;
    box-shadow: 5px 5px 10px #485486;
    border: none;
}
.Evtovsiyeleri img{
    margin-left:600px;
    margin-top: -220px;
}
.Alşqabiliyyəti{
    margin-top: -100px;
    margin-left: 90px;
    gap: 30px;
}
.card{
 margin-top: 80px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius: 8px;
 height: 200x;
 width: 260px;
  margin-left: 90px;
}

.cards{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    margin-left:380px;
    margin-top:-250px;
    gap: 20px;
}

.cardss .img1{
    width: 300px;
    border-radius: 12px;
}
.cardss .img2{
    width: 300px;
    border-radius: 12px;
}
.cardss .img3{
    width: 300px;
    border-radius: 12px;
}
.button button{
    border: none;
    width: 230px;
    margin-top: 10px;
    margin-left: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: blue;
    color: white;
}
.button button:hover{
    background-color: rgb(2, 2, 95);
}
.kard{
    
    height: 500px;
    display: flex;
    margin-top: 100px;
    gap:40px;
    border-radius: 12px;
    margin-left: 80px;
}
.kards .img1, .img2, .img3{
    border-radius: 12px;

}
.kards{
width: 360px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 20px;
}
.kards p{
    width:330px;
}
.kards h2{
    width: 200px;
    text-align: center;
    margin-left: 60px;
    margin-top: -10px;
}
.kards button{  
    border:1px solid;
    background-color: #007BFF;
    height: 30px;
    width: 140px;
    border-radius: 12px;
    margin-left: 90px;
    color:#007BFF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:none;
    background-color: white;
}
.kards button:hover{
color: blue;
border:1px solid
}
.tovsiyeler{
    margin-top: 20px;
}
.tovsiyeler h2{
    margin-left:40%;
}
.tovsiyeler p{
    color:gray;
    width:70%;
    margin-top: 20px;
    margin-left: 20%;
}
.tovsiyeler li a{
    color:black;
    text-decoration: none;
}
.tovsiyeler li a:hover{
    text-decoration: underline;
}
.Dasinmaz a:hover{

    text-decoration: underline;
}
.Dasinmaz a{
    
    margin-left: 340px;
    color:black;
    list-style-type: none;
}
.xet2{
    width: 90%;
    border: 1px solid;
    margin-left: 50px;
    color: grey;
}
.Icareye a:hover{
    text-decoration: underline;
}
.Icareye a{
    color: black;
    list-style-type: none;
}
.Ipoteka a:hover{
    text-decoration: underline;
}
.Ipoteka a{
    color:black;
    list-style-type: none;
}
.Evlere a:hover{
text-decoration: none;
}
.Evlere a{
    color:black;
    list-style-type: none;
}
.sonu{
    text-align: center;
    width: 50%;
    margin-left: 350px;
}

 .sonu li a{
    color:black;
    text-decoration: none;
 
 }
 .sonu li a:hover{
    text-decoration:underline;
 }
  li{
    color:#007BFF;
 }
.melumatlar li a{
    color: #007BFF;
    text-decoration: none;
}
.melumatlar li a:hover{
text-decoration: underline;
}
.elil p{
    overflow: hidden;
}
.xet1{
    border: 1px solid;
}
.bize p{
    text-decoration: underline;
    margin-left:40%;
    margin-top: -20px;
    color:#007BFF;
}
.California p{
margin-left: 120px;
}
.lisenziyasına{
    color: #007BFF;
    text-decoration: underline;
}
.Nyu-York p{
    align-items: center;
    text-decoration: underline;
    color: #007BFF;
}
.elaqe p{
    margin-left: 140px;
    align-items: center;
  color: blue;
  margin-top: -5px;
  text-decoration: underline;
}
.elaqe p:hover{
    color:rgb(62, 62, 129);
}
